### Welcome Everyone!
This is going to be a hands-on run through of the basics of the programming language Python. 
- It won't assume any prior knowledge - if you have programmed in python before, this is not the notebook for you!
- All examples will be for the Python 3 version of the language. Python 2.x versions are now considered seriously out of date, and won't be covered here.

### The Basics: Objects and Types
- Python is "OOP" - or an object-oriented programming language
- Everything is an "Object"
- Everything has a "Type" - that determines how the objects interact
- To the left of the equal sign you have the variable name, and to the right, its value. Variables can be overwritten at any time.

In [13]:
my_string = "Hello there"
my_int = 7
my_float = 7.0
my_string = "Good morning"

### Strings
- Basic alpha-numeric class for text data built in to python. You will always have access to string methods.

In [14]:
print(my_string)

Good morning

In [15]:
type(my_string)

str

In [18]:
# Strings can be added
string_2 = " everyone!"
new_string = my_string + string_2
print(new_string)

Good morning everyone!

In [27]:
# Strings can be sliced by an indexer
print("first four letters:")
print(new_string[:3])

first four letters:
Goo

In [28]:
# everything counts from 0 in python 
new_string[0]

'G'

In [29]:
# everything counts from 0 in python 
new_string[1]

'o'

In [31]:
# ...and numerical ranges EXCLUDE the final value:
new_string[2]

'o'

In [32]:
new_string[3]

'd'

In [33]:
# so new_string[:3] delivers sub-strings "g" (0), "o" (1) and "o" (2) and stops before returning "d" (3)

In [36]:
# Slicing can also extract from the middle of a string:
new_string[5:12]

'morning'

In [51]:
# Or work backwards from the end (right to left) with negative notation
print(new_string[-1])
print(new_string[-9:])
print(new_string[-4:-1])

!
everyone!
one

In [53]:
# Strings can be force-capitalised
shout_good_morning = new_string.upper()
print(shout_good_morning)

GOOD MORNING EVERYONE!

In [57]:
# ...or force-lowered (which comes in very useful for standardising column headings)
quiet_good_morning = '...' + shout_good_morning.lower()
print(quiet_good_morning)

...good morning everyone!

In [61]:
# replacement methods are also helpful
whisper_good_morning = quiet_good_morning.replace('!','...')
print(whisper_good_morning)

...good morning everyone...

In [20]:
# you will often want to inject multiple variables into a string. 
# Use F-strings to populate a template string:
var_1 = "Foo"
var_2 = "Bar"
combo = f"{var_1} / {var_2}! {var_1} {var_1} {var_1} {var_2}!"
combo

'Foo / Bar! Foo Foo Foo Bar!'

N.B. - there are lots of ways of doing string formatting in python, but I really recommend learning and mastering f-strings rather than any of the alternatives

In [23]:
# String concatenation - often goes wrong
"the beginning, "+var_1+", the end"

'the beginning, Foo, the end'

In [24]:
var_3 = 1
"the beginning, "+var_3+", the end"

TypeError: can only concatenate str (not "int") to str

In [27]:
# Positional formatting - fine, but you will forget at some point the right variable order!
'The order goes: {}, {}, {}, {}'.format(var_1, var_2, var_1, var_3)

'The order goes: Foo, Bar, Foo, 1'

### DIR
- There are lots of different methods for strings. How are you supposed to know where to find them all? 
- You could read the documentation: https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str
- Or, if you too hate reading instruction manuals, call dir() on the object

In [63]:
dir(my_string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [89]:
# ... pick a method and have a go!
string_bits = my_string.split(' ')
string_bits

['Good', 'morning']

### Lists
- Another fundamental data type to python, they are the simplest way of assigning multiple objects to a single variable name
- You can put *anything* in a list
- Lists remember the order of elements as they are put into the list
- They have their own useful methods as well

In [67]:
type(string_bits)

list

In [72]:
# objects can be grabbed by their index position
string_bits[0]

'Good'

In [69]:
string_bits[1]

'morning'

In [74]:
# these objects can then be sub-referenced:
string_bits[1][:4]

'morn'

In [91]:
# there are other special methods that lists can do
# this is our first encounter with iteration, which is very powerful 
for i in string_bits:
    print(i)

Good
morning

In [92]:
# you can add new objects to a list:
string_bits.append('Hong Kong')

In [93]:
string_bits

['Good', 'morning', 'Hong Kong']

In [94]:
# and you can remove items too (pop removes last item):
string_bits.pop()

'Hong Kong'

In [95]:
string_bits

['Good', 'morning']

In [97]:
# How do I remove the first item?
string_bits.remove(0)

ValueError: list.remove(x): x not in list

In [98]:
string_bits = string_bits[1:]

In [99]:
string_bits

['morning']

In [101]:
# lists don't need to contain objects of the same type (though, they often do):
l = [1, 2, 3, "four", 5.0]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>

### Numerical Types
- Though there are quite a few, most of the time you will only end up using "int" and "float"

In [135]:
# you distinguish between an int and a float with a decimal point
type(6)

int

In [137]:
type(6.0)

float

In [141]:
# integer division will return a float (it didn't used to!)
type(int(6) / int(4))

float

In [142]:
# integer division will return a float (it didn't used to!)
type(int(6) / int(3))

float

In [143]:
# integer multiplication will return an int
type(6 * 4)

int

### Dictionaries
- A fundamental, core concept in python - non-organised key:value pairs
- Can contain any base-types, lists, dictionaries, or lists of dicts.. no restrictions on content

In [2]:
my_dict = {
            'Name':'Charles',
            'Age':25,
            'Real_age':32,
            'Nationality':'Brit',
            'Preferred_sports':['Rugby','Cricket','Squash'],
            'Attributes':{'Height':178,
                          'Weight':84,
                          'Eye_color':'Brown'},
            'Jobs':[
                {'Name':'Analyst',
                 'Priority':1,
                 'Team':'Investment'},
                {'Name':'Tutor',
                 'Priority':2,
                 'Team':'Official Institutions'}
            ]
          }

In [3]:
my_dict.keys()

dict_keys(['Name', 'Age', 'Real_age', 'Nationality', 'Preferred_sports', 'Attributes', 'Jobs'])

In [4]:
# keys accessed via square brackets (like a list)
my_dict['Age']

25

In [5]:
# return the object... if that's a list, then list methods can be used on it!
my_dict['Jobs'][0]

{'Name': 'Analyst', 'Priority': 1, 'Team': 'Investment'}

In [7]:
# can go deeper and deeper - as long as conventions appropriate for the object type
# (e.g. dicts needs to be accessed via their keys, list items by their numerical index)
my_dict['Jobs'][1]['Team']

'Official Institutions'

In [8]:
# use the ".get" method for when a key may or may not exist
# can also be used to supply a default value, thereby preventing a KeyError
my_dict['Birthplace']

KeyError: 'Birthplace'

In [9]:
my_dict.get("Birthplace", "Unknown")

'Unknown'

In [10]:
# The keys, the values, and the (key value) pairs can be iterated over:
for k in my_dict.keys():
    print(k)

Name
Age
Real_age
Nationality
Preferred_sports
Attributes
Jobs

In [11]:
for v in my_dict.values():
    print(v)

Charles
25
32
Brit
['Rugby', 'Cricket', 'Squash']
{'Height': 178, 'Weight': 84, 'Eye_color': 'Brown'}
[{'Name': 'Analyst', 'Priority': 1, 'Team': 'Investment'}, {'Name': 'Tutor', 'Priority': 2, 'Team': 'Official Institutions'}]

In [16]:
# not all iterable methods return a single item...
for k, v in my_dict.items():
    print(k,":", v)

Name : Charles
Age : 25
Real_age : 32
Nationality : Brit
Preferred_sports : ['Rugby', 'Cricket', 'Squash']
Attributes : {'Height': 178, 'Weight': 84, 'Eye_color': 'Brown'}
Jobs : [{'Name': 'Analyst', 'Priority': 1, 'Team': 'Investment'}, {'Name': 'Tutor', 'Priority': 2, 'Team': 'Official Institutions'}]

### Honourable Mentions
Less commony seen data formats, but still useful

#### Sets
- All objects in a set must be unique

In [104]:
my_set = {1, 1, 2, 3, 4, 4, 5, 6, 6, 6}
my_set

{1, 2, 3, 4, 5, 6}

In [107]:
# sets can be made lists with list() operator
# useful for sorting duplicates from data
list(my_set)

[1, 2, 3, 4, 5, 6]

#### Tuples
- "Immutable" - once instantiated, they cannot be edited
- can be any length BUT no flags / helpers for what data is inside - should be restricted to memorable length
- use with caution / in circumstances where you know the data order

In [109]:
my_tuple = ("Car","Mitsubishi",14)

In [110]:
my_tuple[1]

'Mitsubishi'

In [111]:
my_tuple[1] = "Hyundai"

TypeError: 'tuple' object does not support item assignment

In [112]:
my_tuple.append("1700 miles")

AttributeError: 'tuple' object has no attribute 'append'

#### Named Tuples
- Bit of a historical oddity. Does have its uses. Combines elements of dictionaries and tuples!

In [121]:
from collections import namedtuple
 
# Declaring namedtuple()
Car = namedtuple('Car', ['make', 'age', 'mileage'])
 
# Adding values
my_car = Car('Mitsubishi', 14, 70000)

In [124]:
my_car.age

14

In [125]:
my_car.make

'Mitsubishi'